@charset "UTF-8";
@font-face {
  font-family: "DINWeb-Medium";
  font-style: normal;
  font-weight: bold;
  src: url("/assets/fonts/DINWebPro-Medium.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/DINWebPro-Medium.woff2") format("woff2"), url("/assets/fonts/DINWebPro-Medium.woff") format("woff"), url("/assets/fonts/DINWebPro-Medium.ttf") format("truetype"), url("/assets/fonts/DINWebPro-Medium.svg#DINWeb-Medium") format("svg"); }
@font-face {
  font-family: "it-icons";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/it-icons.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/it-icons.woff2") format("woff2"), url("/assets/fonts/it-icons.woff") format("woff"), url("/assets/fonts/it-icons.ttf") format("truetype"), url("/assets/fonts/it-icons.svg#it-icons") format("svg"); }
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/fontawesome-webfont normal.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/fontawesome-webfont normal.woff2") format("woff2"), url("/assets/fonts/fontawesome-webfont normal.woff") format("woff"), url("/assets/fonts/fontawesome-webfont normal.ttf") format("truetype"), url("/assets/fonts/fontawesome-webfont normal.svg#FontAwesome") format("svg"); }
/*------------------------------------*\
  #GENERAL
\*------------------------------------*/
body {
  background: rgba(51, 51, 51, 0.05);
  border-style: none;
  font-size: 16px; }

hgroup, figcaption, .social_box, .article_metadata, .related_content {
  margin: 10px; }

a {
  text-decoration: none;
  color: #23517a; }

button {
  border: none;
  margin-left: 20px; }

h1, h2, h3, h4, h5 {
  font-weight: 400; }

h1 {
  font-size: 2em;
  line-height: 1em;
  margin: 5px 0; }

h2 {
  font-size: 1em;
  color: #515151;
  line-height: 1.3em;
  margin: 1.5em 0; }

blockquote {
  font-weight: 800;
  font-size: 24px;
  margin: 0;
  line-height: 30px;
  padding: 20px 20px 20px 30px;
  border-left: 8px solid #dedede; }

figcaption, .article_metadata, .article_metadata, .time-metadata, .accordion_header, .pull-out-cta_dark a, .it-btn, .crosshead, .notification, .advertisement .heading {
  font-family: "DINWeb-Medium", Arial, Helvetica, sans-serif; }

h2, h3, .inline-related a, .related_content a, .it-nav li {
  font-family: Arial,Helvetica,sans-serif; }

.article_body {
  padding: 0 10px; }
  .article_body h2 {
    font-weight: 600;
    margin: 1.5em 0; }
  .article_body ul, .article_body ol {
    padding: 0 0 0 35px; }
  .article_body li {
    list-style: disc; }
  .article_body ol li {
    list-style: inherit; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

li {
  margin-bottom: 20px;
  list-style: none; }

.crosshead {
  font-size: 1.2em;
  font-weight: 600;
  margin: 15px 0; }

.masthead {
  border-bottom: 1px solid #F5F5F5;
  padding: 10px 0 5px 0;
  text-align: center; }

.container {
  background: #ffffff;
  color: #414141;
  font-family: Georgia, Times, serif;
  line-height: 1.5em;
  max-width: 600px;
  margin: 0 auto;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased; }

amp-social-share[type="whatsapp"], .inline-related, .inline-related li, .related_image, .accordion_header {
  position: relative; }

figcaption .fig-author, .inline-related a, .related_content a, .related_image, .related_image.icon:before {
  display: block; }

/*------------------------------------*\
    #HEADER & NAVIGATION
\*------------------------------------*/
header {
  background: white;
  line-height: 1em;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate(0px, 0);
  transform: translate(0px, 0px);
  width: 100%;
  box-shadow: 1px 1px 3px rgba(14, 14, 14, 0.06); }

a.logo {
  display: block;
  width: 200px;
  margin: 15px auto 10px auto; }

a.login {
  display: block;
  position: absolute;
  text-indent: -999px;
  width: 30px;
  right: 10px;
  top: 0; }
  a.login:before {
    content: "\e900";
    font-family: "it-icons";
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    color: rgba(33, 35, 37, 0.32); }

a.header__nav {
  position: absolute;
  top: 0;
  display: block;
  left: 15px;
  width: 30px;
  height: 30px; }
  a.header__nav nav {
    position: relative; }

nav:before, nav:after {
  display: block;
  content: '';
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #fff 85%);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fff 85%);
  position: absolute;
  height: 33px;
  width: 30px;
  top: 0;
  left: 0; }

nav:after {
  left: inherit;
  right: 0; }

.it-nav {
  white-space: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  font-size: 14px;
  text-transform: uppercase;
  width: 100%;
  background-color: white;
  top: 0px;
  z-index: 3;
  margin: 0;
  padding: 0;
  padding: 0; }

.it-nav li {
  display: inline-block;
  position: relative;
  padding: 5px 0 12px 0;
  font-size: 14px;
  margin: 0; }

.it-nav li.active:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  z-index: 3; }

.home .it-nav li.active:after {
  background: #13161b; }

.news .it-nav li.active:after {
  background: #CC0000; }

.sport .it-nav li.active:after {
  background: #3ea447; }

.business .it-nav li.active:after {
  background: #1190af; }

.opinion .it-nav li.active:after {
  background: #777552; }

.debate .it-nav li.active:after {
  background: #777552; }

.lifestyle .it-nav li.active:after {
  background: #f60; }

.life-and-style .it-nav li.active:after {
  background: #f60; }

.culture .it-nav li.active:after {
  background: #b74f7d; }

.it-nav li.active a {
  position: relative;
  font-weight: 600; }

.it-nav a {
  font-family: "Lato", sans-serif;
  text-decoration: none;
  color: #13161b; }

.it-nav__item {
  padding: 0 15px;
  display: block; }

.it-nav__item.is-active {
  background-color: #fbfbfb;
  color: #333; }

/*------------------------------------*\
    SIDEBAR
\*------------------------------------*/
amp-sidebar {
  width: 250px;
  padding-right: 10px; }

/*------------------------------------*\
    #USER MENU
\*------------------------------------*/
.user-lightbox {
  background: rgba(0, 0, 0, 0.2); }
  .user-lightbox aside {
    height: 100vh;
    position: relative;
    -webkit-transition: -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
    transition: -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
    transition: transform 233ms cubic-bezier(0, 0, 0.21, 1);
    transition: transform 233ms cubic-bezier(0, 0, 0.21, 1), -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
    transform: translateX(0); }
  .user-lightbox ul {
    position: absolute;
    top: 0;
    right: 0;
    width: 80vw;
    height: 100vh;
    padding: 10px;
    background: white; }
  .user-lightbox .lightbox-close {
    width: 20vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0; }

.user-lightbox[style="display: none;"] aside, .user-lightbox[style="transition: opacity 0.1s ease-in; display: none;"] {
  transform: translateX(-100%); }

/*------------------------------------*\
    #TOP AREA
\*------------------------------------*/
.label {
  color: #34495E;
  font-size: 0.8em;
  font-weight: 600;
  margin: 0 10px;
  padding: 10px 0 5px 0;
  text-transform: uppercase; }

.article_metadata {
  border-top: 1px dashed #f9f9f9;
  line-height: 1em;
  margin: 10px 10px 0px 10px; }
  .article_metadata a {
    color: #23517a;
    font-weight: 600; }

.byline {
  font-size: 0.85em;
  margin: 0;
  padding: 0 0 10px 0; }
  .byline a {
    padding-right: 6px; }

.time-metadata {
  color: #888;
  font-size: 0.8em;
  padding: 0 0 8px 0; }
  .time-metadata.has-modified time {
    display: none; }

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .author img {
    border-radius: 50%;
    height: 50px;
    margin-right: 15px;
    margin-left: 0;
    width: 50px; }
  .author amp-img {
    margin-right: 15px; }

/*------------------------------------*\
  #IMAGES
\*------------------------------------*/
figure {
  margin: 0; }

figcaption, .videocaption {
  border-bottom: 0;
  color: #616161;
  font-size: 12px;
  display: block;
  line-height: 1.4em; }

figcaption .fig-author, .byline, .related_content a {
  color: #888888; }

/*------------------------------------*\
    #SHARING TOOLS
\*------------------------------------*/
.social_box {
  border-top: 1px dashed #eeeeee;
  line-height: 0em;
  margin: 0 10px;
  padding: 8px 0; }

/* AMP sharing tools component */
amp-social-share {
  background-size: 65%;
  border-radius: 50%;
  margin: 0 5px 0 0; }

amp-social-share[type="whatsapp"] {
  background-color: #4dc247;
  text-align: center; }

.news amp-social-share[type="pinterest"] {
  display: none; }

/*------------------------------------*\
    #VIDEO
\*------------------------------------*/
.video_wrap {
  margin: 15px 0; }

amp-list {
  position: relative; }

/*------------------------------------*\
    #CAROUSEL
\*------------------------------------*/
amp-carousel figcaption {
  display: none; }

.amp-image-lightbox-caption {
  font-family: "DINWeb-Medium", Arial, Helvetica, sans-serif;
  font-size: 0.9em; }

.amp-carousel-button {
  background-color: rgba(0, 0, 0, 0.3); }

.amp-carousel-button-next {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="18px" height="18px" viewBox="-290 292 18 18" ><path d="M-277.4,300.4l-6-6c-0.3-0.3-0.8-0.3-1.1,0c-0.3,0.3-0.3,0.8,0,1.1l5.5,5.5l-5.5,5.5c-0.3,0.3-0.3,0.8,0,1.1 c0.3,0.3,0.8,0.3,1.1,0l6-6c0.2-0.2,0.2-0.4,0.2-0.6C-277.2,300.8-277.3,300.6-277.4,300.4z" fill="#fff"/></svg>');
  right: 4%; }

.amp-carousel-button-prev {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="18px" height="18px" viewBox="-290 292 18 18" ><path d="M-284.6,300.4l6-6c0.3-0.3,0.8-0.3,1.1,0c0.3,0.3,0.3,0.8,0,1.1l-5.5,5.5l5.5,5.5c0.3,0.3,0.3,0.8,0,1.1c-0.3,0.3-0.8,0.3-1.1,0l-6-6c-0.2-0.2-0.2-0.4-0.2-0.6C-284.8,300.8-284.7,300.6-284.6,300.4z" fill="#fff"/></svg> ');
  left: 4%; }

/*------------------------------------*\
    #INLINE RELATED ARTICLES
\*------------------------------------*/
.inline-related {
  border-top: 1px solid #f6f6f6;
  border-bottom: 1px solid #f6f6f6;
  margin: 30px 10px 25px 10px;
  padding: 20px 0 0 0; }
  .inline-related h3 {
    background: #ffffff;
    font-weight: 600;
    left: 0;
    margin: 10px 0;
    position: absolute;
    top: -23px;
    padding: 0 10px 0 0; }
  .inline-related a {
    font-size: 14px;
    line-height: 1.5em;
    padding-left: 18px; }
  .inline-related li {
    margin-bottom: 10px; }
    .inline-related li:before {
      width: 6px;
      background: #111111;
      border-radius: 50%;
      content: "";
      height: 6px;
      left: 0;
      position: absolute;
      top: 8px; }

.inline-related ul, .related_content ul {
  padding: 0; }

/*------------------------------------*\
      #READ MORE
\*------------------------------------*/
.related_content li {
  margin-bottom: 15px;
  border-bottom: 0.15em solid #f9f9f9;
  list-style: none; }
.related_content a {
  clear: both;
  font-size: 0.9em;
  line-height: 1.3em;
  min-height: 65px; }
.related_content h3:before {
  background-color: #111;
  content: " ";
  display: block;
  height: 2px;
  margin-bottom: 6px;
  width: 140px; }

.related_image {
  float: left;
  margin-right: 10px; }
  .related_image.icon:before {
    background: rgba(0, 0, 0, 0.78);
    border-top-right-radius: 50%;
    bottom: 0;
    content: "";
    color: #ffffff;
    font-family: 'it-icons';
    font-size: 1em;
    line-height: 16px;
    padding: 7px 10px 5px 8px;
    position: absolute;
    text-align: center;
    z-index: 2; }

.related_title {
  color: #34495E; }

.related_time {
  display: inline-block;
  font-size: 0.8em;
  white-space: nowrap; }

/* P.O.C for content-type icons overlay */
.icon.video:before {
  content: ""; }

.icon.analysis:before {
  content: "\e801"; }

/*------------------------------------*\
    #INLINE MPU
\*------------------------------------*/
.ad-inline-article {
  clear: both; }
  .ad-inline-article .advertisement {
    background-color: #f6f6f6;
    width: 100%;
    margin: 0 -5% 30px -5%;
    padding: 10px 5%;
    text-align: center; }
    .ad-inline-article .advertisement .heading {
      font-size: 65%;
      padding-left: 2%;
      color: #999; }

amp-iframe {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

/*------------------------------------*\
    #ACCORDION COMPONENT
\*------------------------------------*/
.accordion_header {
  background: #f6f6f6;
  border: 1px solid rgba(0, 0, 0, 0.02);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.13);
  color: #34495e;
  margin-bottom: 15px;
  padding: 15px 0;
  text-align: center; }

.symbol-plus {
  background: #34495e;
  display: block;
  height: 2px;
  margin: 0 auto;
  position: relative;
  text-indent: -999px;
  width: 12px; }
  .symbol-plus:before {
    background: #34495e;
    content: "";
    width: 12px;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: scale(1) rotate(-90deg);
    -moz-transform: scale(1) rotate(-90deg);
    -ms-transform: scale(1) rotate(-90deg);
    -o-transform: scale(1) rotate(-90deg);
    transform: scale(1) rotate(-90deg);
    -webkit-transition: all .12s ease;
    -moz-transition: all .12s ease;
    transition: all .12s ease; }

/* "expanded" attribute on the section tag is AMP specific, added when the collapsable panel is expanded */
section[expanded=""] .accordion_header {
  visibility: hidden;
  padding: 0;
  margin: 0; }

/*------------------------------------*\
  #INLINE IMAGES
\*------------------------------------*/
/* Inline Images */
.inline__content--image figcaption {
  font-family: "DINWeb-Medium", Arial, Helvetica, sans-serif;
  line-height: 1.4em;
  font-size: 12px;
  color: #888;
  margin: 0;
  padding: 8px 0 0 0; }

.inline__content--image.left:not(.ls) {
  float: left;
  margin-right: 12px;
  max-width: 45%; }

.inline__content--image.left.ls, .inline__content--image.right.ls {
  float: none;
  margin-right: 0;
  width: 100%; }

.inline__content--image.right:not(.ls) {
  float: right;
  margin-left: 12px;
  max-width: 45%; }

/*------------------------------------*\
    #INLINE PULLQUOTES
\*------------------------------------*/
.inline__content {
  margin: 6px auto 18px; }
  .inline__content--pullquote {
    font-size: 24px;
    line-height: 1.3em;
    color: #444;
    font-family: "DINWeb-Medium", Arial, Helvetica, sans-serif;
    border-left: 4px solid;
    padding: 0px 0 10px 10px; }
    .inline__content--pullquote:before {
      font-family: Georgia, Times, serif;
      font-size: 4em;
      height: 0.15em;
      display: block;
      padding-top: 30px;
      content: '\201C'; }

body.home .inline__content--pullquote {
  border-color: #13161b; }
  body.home .inline__content--pullquote:before {
    color: #13161b; }

body.homepage .inline__content--pullquote {
  border-color: #CC0000; }
  body.homepage .inline__content--pullquote:before {
    color: #CC0000; }

body.frontpage .inline__content--pullquote {
  border-color: #AAA; }
  body.frontpage .inline__content--pullquote:before {
    color: #AAA; }

body.news .inline__content--pullquote {
  border-color: #CC0000; }
  body.news .inline__content--pullquote:before {
    color: #CC0000; }

body.sport .inline__content--pullquote {
  border-color: #3ea447; }
  body.sport .inline__content--pullquote:before {
    color: #3ea447; }

body.business .inline__content--pullquote {
  border-color: #1190af; }
  body.business .inline__content--pullquote:before {
    color: #1190af; }

body.opinion .inline__content--pullquote {
  border-color: #777552; }
  body.opinion .inline__content--pullquote:before {
    color: #777552; }

body.debate .inline__content--pullquote {
  border-color: #777552; }
  body.debate .inline__content--pullquote:before {
    color: #777552; }

body.lifestyle .inline__content--pullquote {
  border-color: #f60; }
  body.lifestyle .inline__content--pullquote:before {
    color: #f60; }

body.life-and-style .inline__content--pullquote {
  border-color: #f60; }
  body.life-and-style .inline__content--pullquote:before {
    color: #f60; }

body.culture .inline__content--pullquote {
  border-color: #b74f7d; }
  body.culture .inline__content--pullquote:before {
    color: #b74f7d; }

body.more .inline__content--pullquote {
  border-color: #006666; }
  body.more .inline__content--pullquote:before {
    color: #006666; }

body.offers .inline__content--pullquote {
  border-color: #006666; }
  body.offers .inline__content--pullquote:before {
    color: #006666; }

body.sponsored .inline__content--pullquote {
  border-color: #011235; }
  body.sponsored .inline__content--pullquote:before {
    color: #011235; }

/*------------------------------------*\
    #NOTIFICATIONS
\*------------------------------------*/
amp-user-notification {
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.06); }

.notification {
  background: #ffffff;
  padding: 10px 10px 10px 65px;
  color: #757575;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: 12px;
  box-sizing: border-box;
  height: 50px; }
  .notification:before {
    background: #0A0A0A url(/assets/images/logo/ITlogo.svg) no-repeat top left;
    background-size: 50px;
    content: "";
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    left: 0px;
    bottom: 0;
    background-position: center;
    display: block; }
  .notification p {
    margin: 0; }
  .notification button {
    position: absolute;
    right: 10px;
    top: 14px;
    border-radius: 50%;
    color: #8c8c8c;
    width: 20px;
    height: 20px; }
  .notification--subscribe {
    display: block;
    padding: 0;
    text-align: center;
    box-shadow: none;
    background: none;
    position: absolute;
    width: 100%;
    left: 0;
    height: auto; }
    .notification--subscribe:before {
      display: none; }

.notification__claim {
  color: #009688;
  font-size: 16px;
  padding: 10px 0;
  background: #ffffff;
  position: relative; }
  .notification__claim:before {
    content: "";
    display: block;
    margin-top: -35px;
    width: 100%;
    background: #ffffff;
    z-index: 3;
    height: 20px;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.06); }
  .notification__claim:after {
    width: 0;
    position: absolute;
    height: 0;
    border-style: solid;
    border-width: 20px 40px 0 40px;
    border-color: #ffffff transparent transparent transparent;
    left: 50%;
    bottom: -9px;
    margin-left: -40px; }
  .notification__claim .notification__message {
    background: #009688;
    color: #ffffff;
    font-size: 14px;
    padding: 15px 0 0 0; }

.notification--soa .notification__claim {
  background: #2D3137;
  border-bottom: 1px solid #2b2e33;
  color: #ffffff; }
  .notification--soa .notification__claim:before {
    background: #2D3137;
    margin-top: -30px;
    box-shadow: 0px -20px 10px rgba(255, 255, 255, 0.7); }
.notification--soa .notification__message {
  background: #2D3137;
  border-top: 1px solid #2f333a;
  border-bottom: 1px solid #2b2e33; }
  .notification--soa .notification__message p {
    padding: 0 10px; }
  .notification--soa .notification__message h5 {
    font-size: 20px;
    margin: 0 0 10px 0;
    color: #FAD165; }
  .notification--soa .notification__message a {
    color: #ffffff; }
  .notification--soa .notification__message .btn-subscribe {
    background: #f9c94c;
    display: inline-block;
    color: #414141;
    margin: 8px 0;
    height: auto;
    padding: 10px 20px;
    line-height: 18px; }

.notification__message
.notification__login {
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.03); }

.notification--soa .notification__login {
  border-top: 1px solid #2f333a; }

/*------------------------------------*\
    #PULL-OUTS & CTAs
\*------------------------------------*/
.pull-out-cta_dark {
  background: #2D3137;
  padding: 15px;
  margin: 0 -10px; }

.pull-out-cta_dark a {
  align-items: center;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  width: 100%; }

.it-btn {
  background: none;
  border: 2px solid #f9c94c;
  border-radius: 5px;
  color: #f9c94c;
  font-size: 16px;
  height: 36px;
  line-height: 17px;
  padding: 10px;
  text-transform: uppercase; }

/*------------------------------------*\
    READ NEXT ARTICLE
\*------------------------------------*/
.read-next_wrapper {
  position: fixed;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
  font-family: "DINWeb-Medium", Arial, Helvetica, sans-serif;
  color: #ffffff;
  transition-timing-function: ease-in;
  transition: all 0.3s;
  z-index: 998;
  min-height: 140px;
  max-height: 140px; }
  .read-next_wrapper a {
    color: #ffffff; }

.read-next_btn {
  text-align: center;
  background-color: #1D1D1B;
  box-sizing: border-box;
  padding: 5px 10px;
  width: 200px;
  margin-left: calc(50% - 100px);
  z-index: 8;
  border-radius: 4px 4px 0px 0px;
  -webkit-box-shadow: -2px -5px 19px -4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -2px -5px 19px -4px rgba(0, 0, 0, 0.3);
  box-shadow: -2px -5px 19px -4px rgba(0, 0, 0, 0.3); }

.read-next_article {
  background-color: #252424;
  border-top: 1px solid #212020;
  box-sizing: border-box;
  padding: 15px 5px 15px 5px;
  z-index: 998;
  position: relative;
  -webkit-box-shadow: -2px -5px 19px -4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -2px -5px 19px -4px rgba(0, 0, 0, 0.3);
  box-shadow: -2px -5px 19px -4px rgba(0, 0, 0, 0.3);
  min-height: 112px;
  font-size: 14px; }

span.related_title.read-next_article--title {
  color: #ffffff; }

.read-next_image {
  width: 400px;
  height: 100px; }

/*@media screen and (max-width: 320px) {*/
.read-next-article--img {
  margin-left: 30px; }

/*}*/
section[expanded] .show-more {
  display: none;
  transition: all 0.3s;
  color: red !important; }

section:not([expanded]) .show-less {
  display: none;
  transition: all 0.3s;
  color: blue !important; }

.read-next-accordion-wrapper {
  -webkit-flex-basis: 80px;
  /* Safari 6.1+ */
  flex-basis: 33%;
  box-sizing: border-box;
  padding-top: 23px; }
  .read-next-accordion-wrapper:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #333333 transparent transparent transparent;
    position: absolute;
    /* right: 48px; */
    top: 70px;
    z-index: 10;
    /* align-self: center; */
    left: 81%; }

amp-list#_AMP_content_0 {
  height: 225px;
  width: 330px;
  position: absolute;
  margin-left: calc(-100% + 330px);
  height: 80px;
  margin-left: -230px;
  position: absolute; }

.read-next-accordion {
  position: relative;
  z-index: 8;
  bottom: 0px;
  /*width: 100%;*/
  font-family: "DINWeb-Medium", Arial, Helvetica, sans-serif;
  transition: all 0.3s; }
  .read-next-accordion h4 {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    border: 1px solid #333;
    padding: 5px 0px;
    font-size: 18px;
    /*width: 200px;*/
    /*margin-left: calc(50% - 100px);*/
    /*-webkit-box-shadow: -2px -5px 19px -4px rgba(0,0,0,0.3);
    -moz-box-shadow: -2px -5px 19px -4px rgba(0,0,0,0.3);
    box-shadow: -2px -5px 19px -4px rgba(0,0,0,0.3);
    border-radius: 6px 6px 0px 0px;*/
    transition: all 0.3s;
    /*margin-bottom: 30px;*/
    text-align: center;
    font-size: 13px;
    -webkit-flex-basis: 80px;
    /* Safari 6.1+ */
    flex-basis: 25%; }
  .read-next-accordion p {
    background-color: #f6f6f6;
    transition: all 0.3s; }

/*=======================
    Sticky BTM
=======================*/
.amp-sticky-btm_wrapper {
  background-color: #333;
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  -webkit-justify-content: space-around;
  /* Safari 6.1+ */
  justify-content: space-between;
  box-sizing: border-box;
  padding: 12px 0px 0px 0px;
  font-family: "DINWeb-Medium", Arial, Helvetica, sans-serif;
  color: #ffffff;
  z-index: 9;
  transition: all 0.3s; }

.amp-sticky-btm-bg {
  position: absolute;
  height: 111px;
  background-color: #252424;
  width: 200%;
  top: 71px;
  z-index: 8;
  border-top: 1px solid #212020;
  left: -200px; }

.active-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #333333 transparent transparent transparent;
  position: absolute;
  right: 48px;
  top: 70px;
  z-index: 10; }

.amp-sticky-btm_home-btn, .amp-sticky-btm_sections-btn, .amp-sticky-btm_read-next-btn {
  text-align: center;
  font-size: 13px;
  -webkit-flex-basis: 33%;
  /* Safari 6.1+ */
  flex-basis: 33%; }

/*# sourceMappingURL=amp.css.map */
