      $heading-font: "DINWeb-Medium", Arial, Helvetica, sans-serif;
      $sans-serif: Georgia,Times, serif;
      $icon-font: 'it-icons';
      $amp_bg: rgba(51,51,51,0.05);


      $amp_light-grey: #f6f6f6; // used in bg of advertising + accordian
      $amp_white: #ffffff;
      $amp_link-colour: #23517a;

      $pull-bg: #2D3137;
      $put-out_color: #f9c94c;

      //  section colours

      $home: #13161b;
      $frontpage: #AAA;
      $news: #CC0000;
      $sport: #3ea447;
      $business: #1190af;
      $opinion: #777552;
      $life-and-style: #f60;
      $culture: #b74f7d;
      $more: #006666;
      $sponsored: #011235;

        @font-face {
            font-family: 'DINWeb-Medium';
            src: url('/assets/fonts/DINWebPro-Medium.eot');
            src: url('/assets/fonts/DINWebPro-Medium.eot?#iefix') format('embedded-opentype'),
            url('/assets/fonts/DINWebPro-Medium.woff') format('woff');
            font-weight: bold;
            font-style: normal;
        }
        @font-face {
            font-family: 'it-icons';
            src:url('/assets/fonts/it-icons.eot?fzeavz');
            src:url('/assets/fonts/it-icons.eot?fzeavz#iefix') format('embedded-opentype'),
            url('/assets/fonts/it-icons.ttf?fzeavz') format('truetype'),
            url('/assets/fonts/it-icons.woff?fzeavz') format('woff'),
            url('/assets/fonts/it-icons.svg?fzeavz#it-icons') format('svg');
            font-weight: normal;
            font-style: normal;
        }
        @font-face{
            font-family:'FontAwesome';
            font-weight:normal;
            font-style:normal;
            src:url('/assets/fonts/fontawesome-webfont.eot?v=4.3.0');
            src:url('/assets/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'),
            url('/assets/fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'),
            url('/assets/fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'),
            url('/assets/fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),
            url('/assets/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
        }


        // import the partials

        @import 'amp-partials/general';
        @import 'amp-partials/header-nav';
        @import 'amp-partials/sidebar';
        @import 'amp-partials/user-menu';
        @import 'amp-partials/top-area';
        @import 'amp-partials/images';
        @import 'amp-partials/sharing';
        @import 'amp-partials/video';
        @import 'amp-partials/carousel';
        @import 'amp-partials/app_inline-related';
        @import 'amp-partials/read-more';
        @import 'amp-partials/inline-mpu';
        @import 'amp-partials/accordian';
        @import 'amp-partials/inline-images';
        @import 'amp-partials/inline-pullqoutes';
        @import 'amp-partials/notifications';
        @import 'amp-partials/pullouts';
        @import 'amp-partials/read-next';
        @import 'amp-partials/stickybottom';
