/*------------------------------------*\
    #INLINE RELATED ARTICLES
\*------------------------------------*/
.inline-related {
    border-top: 1px solid $amp_light-grey;
    border-bottom: 1px solid $amp_light-grey;
    margin: 30px 10px 25px 10px;
    padding: 20px 0 0 0;
    h3 {
        background: $amp_white;
        font-weight:600;
        left: 0;
        margin:10px 0;
        position: absolute;
        top: -23px;
        padding: 0 10px 0 0;
    }
    a {
        font-size:14px;
        line-height:1.5em;
        padding-left:18px;
    }
    li {
        margin-bottom:10px;
        &:before {
            width: 6px;
            background: #111111;
            border-radius: 50%;
            content: "";
            height: 6px;
            left:0;
            position:absolute;
            top:8px;
        }
    }


}

.inline-related ul, .related_content ul{
    padding:0;
}
