/*------------------------------------*\
  #GENERAL
\*------------------------------------*/


body{
    background:rgba(51,51,51,0.05);
    border-style:none;
    font-size:16px;
}

hgroup, figcaption, .social_box, .article_metadata, .related_content{
    margin:10px;
}

// buttons & link

a {
    text-decoration:none;
    color:#23517a;
}

button {
    border:none;
    margin-left: 20px;
}

// Typography

h1, h2, h3, h4, h5{
    font-weight:400;
}
h1{
    font-size:2em;
    line-height:1em;
    margin:5px 0;
}
h2{
    font-size: 1em;
    color: #515151 ;
    line-height: 1.3em;
    margin: 1.5em 0;
}

blockquote {
    font-weight: 800;
    font-size: 24px;
    margin: 0;
    line-height: 30px;
    padding: 20px 20px 20px 30px;
    border-left: 8px solid #dedede;
}

figcaption, .article_metadata, .article_metadata, .time-metadata, .accordion_header, .pull-out-cta_dark a, .it-btn, .crosshead, .notification, .advertisement .heading {
    font-family: $heading-font;
}
h2, h3, .inline-related a, .related_content a, .it-nav li{
    font-family: Arial,Helvetica,sans-serif;
}

//  Article Body

.article_body {
  padding:0 10px;
  h2{
      font-weight:600;
      margin:1.5em 0;
  }
  ul, ol {
      padding:0 0 0 35px;
  }
  li{
      list-style: disc;
  }
  ol li{
      list-style:inherit;
  }
}

// List style

ul{
    margin:0;
    padding:0;
    list-style-type: none;
}
li {
    margin-bottom: 20px;
    list-style: none;
}

// Crosshead

.crosshead{
    font-size: 1.2em;
    font-weight: 600;
    margin: 15px 0;
}

//  Masthead

.masthead{
    border-bottom: 1px solid #F5F5F5;
    padding: 10px 0 5px 0;
    text-align: center;
}

.container{
    background:$amp_white;
    color:#414141;
    font-family: $sans-serif;
    line-height:1.5em;
    max-width:600px;
    margin:0 auto;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
}

amp-social-share[type="whatsapp"], .inline-related, .inline-related li, .related_image, .accordion_header{
    position:relative;
}
figcaption .fig-author, .inline-related a, .related_content a, .related_image, .related_image.icon:before{
    display:block;
}
